<a href="https://colab.research.google.com/github/Yashdalot/GoogleColab/blob/master/Linear_regression%20and%20MultiVariate_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import files
uploaded = files.upload()

Saving kc_house_data.csv to kc_house_data.csv

In [0]:
import numpy as np
import pandas as pd

In [0]:
df = pd.read_csv('kc_house_data.csv')
df.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

WE APPLY **LINEAR REGRESSION** ON THE **DATASET**

In [0]:

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
train_data,test_data = train_test_split(df,train_size = 0.8,random_state=3)
lr = LinearRegression()
X_train = np.array(train_data['sqft_living'], dtype=pd.Series).reshape(-1,1)
y_train = np.array(train_data['price'], dtype=pd.Series)
lr.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
X_test = np.array(test_data['sqft_living'], dtype=pd.Series).reshape(-1,1)
y_test = np.array(test_data['price'], dtype=pd.Series)

Checking the **Accuracy**

In [0]:
Accuracy = (lr.score(X_test,y_test))*100
print(Accuracy)

49.6239362249571

We got the Accuracy of **49%**

NOW WE APPLY **MULTIPLE REGRESSION** ON **DATASET**

In [0]:
features = ['bedrooms','bathrooms','sqft_living','sqft_lot','floors','waterfront','view',
            'condition','grade','sqft_above','sqft_basement','yr_built','yr_renovated',
            'zipcode','lat','long','sqft_living15','sqft_lot15']
lr.fit(train_data[features],train_data['price'])

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
X_test = np.array(test_data[features], dtype=pd.Series)
y_test = np.array(test_data['price'], dtype=pd.Series)

In [0]:
Accuracy = (lr.score(X_test,y_test))*100
print(Accuracy)

70.77188146880474

NOW WE GOT THE ACCURACY OF **70%**