<a href="https://colab.research.google.com/github/Yashdalot/GoogleColab/blob/master/Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import files
uploaded = files.upload()

Saving Ecommerce Customers to Ecommerce Customers

In [0]:
import numpy as np
import pandas as pd

In [0]:
customers = pd.read_csv('Ecommerce Customers')
customers.head()

                           Email  ... Yearly Amount Spent
0      mstephenson@fernandez.com  ...          587.951054
1              hduke@hotmail.com  ...          392.204933
2               pallen@yahoo.com  ...          487.547505
3        riverarebecca@gmail.com  ...          581.852344
4  mstephens@davidson-herman.com  ...          599.406092

[5 rows x 8 columns]

In [0]:
customers.head()

                           Email  ... Yearly Amount Spent
0      mstephenson@fernandez.com  ...          587.951054
1              hduke@hotmail.com  ...          392.204933
2               pallen@yahoo.com  ...          487.547505
3        riverarebecca@gmail.com  ...          581.852344
4  mstephens@davidson-herman.com  ...          599.406092

[5 rows x 8 columns]

In [0]:
from sklearn.model_selection import train_test_split

X = customers[['Avg. Session Length','Time on App','Time on Website','Length of Membership']]
y = customers['Yearly Amount Spent']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [0]:
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
lm.coef_

array([25.98154972, 38.59015875,  0.19040528, 61.27909654])

--------------------------------------NOW CHEKING THE ACCURACY OF OUR **MULTIPLE REGRESSION** MODEL---------

In [0]:
Accuracy = (lm.score(X_test,y_test))*100
print(Accuracy)

98.90046246741234

# WE GOT AN ACCURACY OF **98%**